@{
    ViewBag.Title = "GVSU DPS";
}

<div class="jumbotron">
    <h1>GVSU DPS Software Suite</h1>
    <p class="lead">Custom software for dispatch, officers, and parking</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dispatch module </h2>
        <p>
            Contains call logging, trespass lookup, and phone reports
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Dispatch Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Officer module</h2>
        <p>
            Contains report writing, impound,  and evidence
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Officer Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Parking module</h2>
        <p>Contains purchasing parking passes, parking pass lookup, citations, and lost & found</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Parking Login &raquo;</a></p>
    </div>
</div>